:root {

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    display: flex;
    font-size: 100px;
    margin: 64px;
}

/*Color*/
[data-color='white'] {
    background-color: #FFFFFF;
}

[data-color='pink'] {
    background-color: #FF7BAC;
}

[data-color='blue'] {
    background-color: #29ABE2;
}

[data-color='green'] {
    background-color: #8CC63F;
}

[data-color='orange'] {
    background-color: #FBB03B;
}

[data-color='pink_blue'] {
    background: linear-gradient(#FF7BAC 50%, #29ABE2 50%);
}

[data-color='blue_green'] {
    background: linear-gradient(#29ABE2 50%, #8CC63F 50%);
}

[data-color='green_orange'] {
    background: linear-gradient(#8CC63F 50%, #FBB03B 50%);
}

/*Align*/


/*Bevel*/
[data-bevel="top_left"] {
    border-top-left-radius: 100%;
}

[data-bevel="top_right"] {
    border-top-right-radius: 100%;
}

[data-bevel="bottom_left"] {
    border-bottom-left-radius: 100%;
}

[data-bevel="bottom_right"] {
    border-bottom-right-radius: 100%;
}

/*Navbar*/
.navbar {
    background: #fcd303;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2 rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-right: 2rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-decoration-color: transparent;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}


/*Images*/
.p_images {
    background-color: #FF7BAC;
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.p_gallary {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_images {
    width: 100%;
}

#btn {
    width: 50px;
    height: 50px;
}

.btn_previous {
    float: left;
    margin-left: 10px;
}

.btn_next {
    float: right;
    margin-right: 10px;
}


/*About Us*/
.p_about_us {
    width: 100%;
    background-color: #29ABE2;
    position: sticky;
}

.t_about_us {
    float: left;
}


/*Donate*/
.p_donate {
    width: 100%;
    background-color: #8CC63F;
    position: sticky;
}

.t_donate {
    float: right;
}


/*Volunteer*/
.p_volunteer {
    width: 100%;
    background-color: #FBB03B;
    position: sticky;
}

.t_volunteer {
    float: left;
}

#panel {
    height: 100vh;
}

.panel_left {
    height: 100vh;
    width: 50%;
    margin-bottom: calc(20vh);
    background-color: #ffffff;
    border-top-right-radius: 50vh;
    border-bottom-right-radius: 50vh;
    float: left;
}

.panel_right {
    height: 100vh;
    width: 50%;
    margin-bottom: calc(20vh);
    background-color: #ffffff;
    border-top-left-radius: 50vh;
    border-bottom-left-radius: 50vh;
    float: right;
}

.transition_bar {
    position: relative;
    height: 20vh;
    width: 100%;
}

.transition_bar_bottom {
    position: absolute;
    width: 100%;
    height: 10vh;
    bottom: 0px;
}

.c_square {
    position: absolute;
    height: 20vh;
    width: 20vh;
}

.c_circle {
    height: 20vh;
    width: 20vh;
}

[data-align='left'] {
    left: 0px;
}

[data-align="right"] {
    right: 0px;
}
